$text-grey: #7f8c8d;
$input-background: #f4f5f8;
$label-color: #7f8c8d;
$scheme-green: #2dcc70;
$button-color: $scheme-green;
$scheme-blue: #34485e;
$scheme-lightgrey: #dadada;
$accent-red: #e74c3c;

$flat-orange: #f39c12;
$extra-red: #e74c3c;

::-webkit-scrollbar {
    display: none;
}
