::-webkit-scrollbar {
  display: none; }

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  overflow-x: hidden; }

main.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.navigation-wrapper {
  background-color: white; }

.navigation-container, .status-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

ul.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: auto;
  font-family: 'Montserrat', Arial, sans-serif, Monaco, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align-items: center; }
  ul.nav-items li:not(:last-child) {
    margin-right: 30px; }
  ul.nav-items figure.profile-picture {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: lightgrey;
    background-position: center;
    background-size: cover;
    border: 3px solid #e6e6e6;
    box-sizing: border-box;
    transition: 200ms all ease-in-out; }
    ul.nav-items figure.profile-picture:hover {
      cursor: pointer;
      border-color: #2dcc70; }
  ul.nav-items li a {
    color: #34485e;
    text-decoration: none;
    transition: 100ms all ease-in-out; }
    ul.nav-items li a i {
      margin-right: 5px; }
    ul.nav-items li a:hover {
      color: #2dcc70; }
    ul.nav-items li a:active {
      color: #1b7842; }
    ul.nav-items li a:visited {
      color: #34485e; }
      ul.nav-items li a:visited:hover {
        color: #2dcc70; }

.status-wrapper {
  background-color: #2dcc70; }

.status-container {
  height: 70px; }

ul.status-list {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none; }
  ul.status-list li, ul.status-list li a {
    color: white;
    text-decoration: none; }
    ul.status-list li:not(:last-child), ul.status-list li a:not(:last-child) {
      padding-right: 13px;
      margin-right: 15px;
      border-right: 2px solid #53d98b; }
    ul.status-list li:hover, ul.status-list li a:hover {
      color: #d0f5e0;
      cursor: pointer; }

.box {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px; }
  .box input {
    width: 100%;
    border: 0px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background-color: #f4f5f8; }
    .box input:not(:last-child) {
      margin-bottom: 20px; }
  .box select {
    width: 100%;
    border: 0px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    background-color: #f4f5f8;
    text-transform: capitalize; }
    .box select:not(:last-child) {
      margin-bottom: 20px; }
    .box select option {
      text-transform: capitalize; }
  .box input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border: 0px;
    box-shadow: none;
    border-color: inherit;
    display: inline-block;
    margin-bottom: 0px; }
    .box input[type='checkbox']:after {
      position: absolute;
      content: " ";
      width: 20px;
      height: 20px;
      background-color: #f4f5f8;
      display: inline-block;
      visibility: visible; }
    .box input[type='checkbox']:checked:after {
      background: transparent; }
    .box input[type='checkbox'] + label {
      margin-left: 10px; }
      .box input[type='checkbox'] + label:last-child {
        margin-bottom: 0; }
  .box label {
    font-family: "" Montserrat ", Arial, sans-serif", Monaco, sans-serif;
    color: #7f8c8d;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .box label.error {
      color: #e74c3c;
      width: 100%; }
  .box + button.button, .box + button.article-button {
    margin-top: -10px; }

button.button, button.article-button {
  width: 100%;
  height: 50px;
  background-color: #2dcc70;
  border: 0;
  color: white;
  font-family: "" Montserrat ", Arial, sans-serif", Monaco, sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: all 200ms ease-in-out; }
  button.button:hover, button.article-button:hover {
    background-color: #53d98b; }
  button.button.fixed-size, button.fixed-size.article-button {
    max-width: 300px; }
  button.button.error, button.error.article-button {
    background-color: #e74c3c; }
    button.button.error:hover, button.error.article-button:hover {
      background-color: #ea6153; }

.box-label {
  font-family: "" Montserrat ", Arial, sans-serif", Monaco, sans-serif;
  color: #b8b8b8;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; }
  .box-label a {
    color: #7f8c8d;
    margin-left: 5px;
    text-decoration: none; }
    .box-label a:hover {
      color: #4e5758; }

.vertical-align {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .vertical-align .row {
    width: 100%; }

.content-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }
  .content-container.side {
    width: 325px;
    display: flex;
    flex-direction: column; }

.article-warning {
  width: 100%;
  margin: 10px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .article-warning p {
    margin: 0;
    color: #7f8c8d; }
    .article-warning p:not(:last-child) {
      margin-bottom: 20px; }

.article-box {
  width: 286px;
  min-height: 350px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: white;
  margin: 10px 10px 10px 10px; }
  .article-box button.button, .article-box button.article-button {
    background-color: #dadada; }
    .article-box button.button:hover, .article-box button.article-button:hover {
      background-color: #2dcc70; }
  .article-box section.tag {
    width: auto;
    position: absolute;
    height: 24px;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: -15px;
    margin-left: 20px;
    color: white;
    text-transform: capitalize;
    background-color: #34485e; }
  .article-box section.content {
    padding: 20px 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .article-box section.content h2 {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 280px;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.3;
      color: #34485e;
      max-height: 55px;
      overflow: hidden; }
    .article-box section.content label {
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
      font-size: 12px;
      font-weight: normal;
      color: #9aa4a5;
      margin-bottom: 10px; }
    .article-box section.content p {
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
      font-size: 14px;
      font-weight: normal;
      color: #7f8c8d;
      height: 81px;
      overflow-y: hidden;
      margin-bottom: 0;
      text-align: justify; }
  .article-box section.image {
    width: 100%;
    height: 175px;
    background-color: #b8b8b8;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 3px solid #dadada;
    box-sizing: border-box; }
    .article-box section.image:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%); }

button.article-button {
  height: 40px;
  margin-top: 0; }

.filter-container {
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent;
  margin-top: 20px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #7f8c8d; }
  .filter-container .filters {
    display: flex;
    flex-direction: row; }
  .filter-container span {
    color: #7f8c8d; }
    .filter-container span:not(:first-child) {
      margin-left: 20px; }
    .filter-container span:hover {
      color: #34485e;
      cursor: pointer; }

.filter-content {
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  display: flex;
  flex-direction: row; }
  .filter-content label.tag {
    font-family: 'Source Sans Pro', Myriad Pro, serif;
    font-size: 16px;
    font-weight: bold;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px; }
  .filter-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding: 20px;
    flex-grow: 1; }
    .filter-content ul li {
      display: flex;
      align-items: center;
      justify-content: center; }
      .filter-content ul li label {
        margin: 0;
        margin-left: 10px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer; }
      .filter-content ul li:not(:first-child) {
        margin-left: 30px; }
      .filter-content ul li input[type="checkbox"] {
        margin: 0;
        width: 20px;
        height: 20px;
        cursor: pointer; }
  .filter-content .article-button {
    background-color: #dadada;
    color: #7f8c8d;
    height: 64px;
    transition: 200ms all ease-in-out;
    outline: 0;
    width: 200px; }
    .filter-content .article-button:focus {
      outline: 0; }
    .filter-content .article-button:hover {
      background-color: #2dcc70;
      color: white; }

.footer-container {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .footer-container button {
    background: transparent;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #7f8c8d;
    border: 0; }
    .footer-container button:hover {
      color: #34485e; }
  .footer-container p {
    font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
    font-size: 14px;
    color: #7f8c8d; }
    .footer-container p a {
      color: inherit; }

.side-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.side-title {
  margin: 10px;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #7f8c8d; }

.article-wrapper {
  display: flex;
  flex-direction: row; }

.article-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: scroll;
  background-color: white; }
  .article-container section.title {
    display: flex;
    padding: 20px 40px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between; }
    .article-container section.title h2 {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 640px;
      font-family: Raleway, sans-serif;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.3;
      color: #34485e;
      order: 1; }
    .article-container section.title section.tag {
      width: auto;
      height: 30px;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding: 5px 10px;
      margin-left: 20px;
      color: white;
      background-color: #34485e;
      text-transform: capitalize;
      order: 2; }
  .article-container section.details {
    padding: 0 40px; }
    .article-container section.details label {
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
      font-size: 16px;
      font-weight: normal;
      color: #9aa4a5;
      margin-bottom: 0; }
      .article-container section.details label span {
        font-weight: bold;
        color: #7f8c8d; }
  .article-container section.content {
    padding: 20px 40px; }
    .article-container section.content p {
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
      font-size: 16px;
      font-weight: normal;
      color: #7f8c8d;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 10px; }
      .article-container section.content p:last-child {
        margin-bottom: 0px; }
      .article-container section.content p.bold {
        font-weight: bold; }
  .article-container section.image {
    width: 100%;
    height: 400px;
    background-color: #b8b8b8;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 3px solid #dadada;
    box-sizing: border-box; }
    .article-container section.image:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%); }
  .article-container section.video {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center; }
    .article-container section.video section {
      width: 100%; }
    .article-container section.video iframe {
      width: inherit;
      height: 450px; }
  .article-container section.code {
    background-color: #dadada;
    padding: 30px 40px;
    max-width: 100%;
    padding: 40px;
    background-color: #f5f5f5; }
    .article-container section.code code {
      font-family: Consolas, Monaco, Arial, sans-serif;
      font-size: 16px;
      color: #333333;
      background: transparent;
      word-wrap: break-word;
      white-space: pre; }
    .article-container section.code pre {
      border-radius: 0 !important;
      padding: 0 !important;
      word-break: break-all !important;
      word-wrap: break-word !important;
      border: 0 !important; }
    .article-container section.code:last-child {
      margin-bottom: -20px; }

.pagination {
  margin: 0; }

.pagination li:first-child > a {
  border-radius: 0; }

.pagination li:last-child > a {
  border-radius: 0; }

.pagination li a {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7f8c8d;
  border: 0;
  list-style-type: none;
  background: transparent; }
  .pagination li a.selected {
    background-color: white; }
  .pagination li a:hover {
    background-color: white;
    color: #7f8c8d; }

.settings-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
  align-items: flex-start; }

.settings-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px; }
  .settings-box .box {
    padding: 10px; }
    .settings-box .box label {
      width: 100%;
      text-align: center;
      text-transform: none;
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif;
      font-size: 16px; }
  .settings-box.accounts {
    height: auto;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    align-items: flex-start;
    flex-direction: row; }
    .settings-box.accounts .article-button {
      background-color: #dadada;
      margin-top: -2px;
      color: #7f8c8d;
      outline: 0; }
      .settings-box.accounts .article-button:focus {
        outline: 0; }
      .settings-box.accounts .article-button:hover {
        background-color: #2dcc70;
        color: white; }
    .settings-box.accounts h2.title {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      color: #7f8c8d;
      margin-top: 0;
      margin-bottom: 20px; }
    .settings-box.accounts .accounts-box {
      height: auto;
      justify-content: flex-start;
      padding: 20px;
      align-self: stretch;
      background-color: #dadada;
      order: 1;
      width: 50%;
      border-right: 1px solid #dadada; }
      .settings-box.accounts .accounts-box .article-button {
        background-color: #dadada;
        margin-top: -2px;
        color: #7f8c8d;
        outline: 0; }
        .settings-box.accounts .accounts-box .article-button:focus {
          outline: 0; }
        .settings-box.accounts .accounts-box .article-button:hover {
          background-color: #2dcc70;
          color: white; }
    .settings-box.accounts .accounts-buttons {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      padding: 20px;
      order: 2; }
      .settings-box.accounts .accounts-buttons a {
        width: 100%;
        max-width: 300px; }
      .settings-box.accounts .accounts-buttons h2 {
        margin-bottom: 23px; }
      .settings-box.accounts .accounts-buttons .article-button {
        max-width: 300px; }
        .settings-box.accounts .accounts-buttons .article-button:not(:last-child) {
          margin-bottom: 20px; }
  .settings-box:not(:last-child) {
    margin-right: 20px; }
  .settings-box section.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    transition: 200ms all ease-in-out;
    position: relative; }
    .settings-box section.profile-image:hover {
      border-color: #e6e6e6; }
      .settings-box section.profile-image:hover figure.hover-figure {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.6); }
    .settings-box section.profile-image figure.hover-figure {
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 200ms all ease-in-out;
      visibility: hidden; }
      .settings-box section.profile-image figure.hover-figure i {
        font-size: 20px;
        color: white; }
  .settings-box section.account-row {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 20px 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 2px solid lightgrey; }
    .settings-box section.account-row:hover {
      background-color: #f2f2f2; }
    .settings-box section.account-row label {
      font-family: 'Source Sans Pro', Myriad Pro, Arial, serif, Arial, sans-serif;
      font-size: 16px;
      color: #7f8c8d;
      margin: 0;
      text-transform: capitalize;
      width: 75px; }
    .settings-box section.account-row span.status {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: bold;
      font-size: 14px; }
      .settings-box section.account-row span.status.green {
        color: #2dcc70; }
      .settings-box section.account-row span.status.red {
        color: #e74c3c; }
    .settings-box section.account-row i {
      font-size: 20px;
      color: #7f8c8d;
      transition: 100ms all ease-in-out;
      margin-left: 5px; }
      .settings-box section.account-row i:hover {
        cursor: pointer;
        color: black; }

.notification {
  width: 400px;
  height: auto;
  position: absolute;
  top: 300px;
  left: calc(50vw - 150px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .notification p.error {
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #e74c3c; }
    .notification p.error:last-child {
      margin-bottom: 0; }

figure.logo, figure.logo.small {
  margin: 0;
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  figure.logo img, figure.logo.small img {
    width: 250px;
    height: inherit; }
  figure.logo label, figure.logo.small label {
    font-family: Raleway, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #7f8c8d;
    padding-top: 10px; }

figure.small.logo {
  width: 210px; }
  figure.small.logo img {
    width: 100px;
    height: inherit; }
  figure.small.logo label {
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 0px; }

.loader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loader p {
    font-family: 'Source Sans Pro', Myriad Pro, serif;
    font-size: 18px;
    font-weight: bold;
    color: #7f8c8d; }
    .loader p:not(:first-child) {
      margin-top: 10px; }

.main-wrapper {
  display: none; }

.search {
  position: relative; }
  .search i {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #24a259; }

.search-box {
  width: 250px;
  margin: 0;
  padding: 10px 40px 8px 20px;
  border: 0;
  transition: 300ms all ease-in-out;
  background-color: #114f2b;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white; }
  .search-box:focus {
    outline: 0;
    background-color: white;
    color: #7f8c8d; }
  .search-box::-webkit-input-placeholder {
    color: #24a259;
    font-weight: 600; }

ul.search-results {
  width: 400px;
  height: auto;
  max-height: 324px;
  overflow: scroll;
  max-height: 300px;
  background-color: white;
  border: 1px solid #dadada;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  margin-top: 17px;
  right: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  list-style-type: none; }
  ul.search-results a {
    text-decoration: none; }
  ul.search-results li {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #dadada;
    border-top: none;
    border-bottom: 2px solid #dadada;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    ul.search-results li h3 {
      font-family: 'Source Sans Pro', Myriad Pro, serif;
      font-size: 15px;
      font-weight: bold;
      color: #7f8c8d;
      margin: 0;
      padding: 0;
      line-height: 1.1; }
    ul.search-results li label {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 12px;
      color: #dadada;
      text-transform: uppercase;
      margin: 0;
      margin-left: 10px; }
    ul.search-results li:hover {
      background-color: #f2f2f2;
      cursor: pointer; }

@media screen and (max-width: 991px) {
  .article-box {
    width: 330px; }
  .article-wrapper {
    flex-direction: column; }
  .article-container {
    width: calc(100% - 40px); }
  .content-container.side {
    width: 100%; }
  .side-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .side-content .article-box {
      display: flex;
      flex-grow: 1; } }

@media screen and (max-width: 768px) {
  .article-box {
    width: 100%; }
  .article-container section.code, .article-container section.title, .article-container section.details, .article-container section.content {
    padding-left: 20px;
    padding-right: 20px; }
  .navigation-container, .status-container {
    flex-direction: column; }
  .status-container {
    height: auto;
    padding: 40px 20px; }
    .status-container ul.status-list {
      margin-bottom: 20px; }
  ul.nav-items {
    margin-top: 20px; }
  .settings-wrapper {
    flex-direction: column; }
  .settings-box {
    width: 100%; }
    .settings-box.accounts {
      flex-direction: column; }
      .settings-box.accounts .accounts-box {
        width: 100%;
        order: 2; }
      .settings-box.accounts .accounts-buttons {
        width: 100%;
        order: 1; }
  .article-warning {
    flex-direction: column; }
    .article-warning p {
      margin-bottom: 10px; }
  .search-box {
    width: 400px; }
  ul.search-results {
    width: 100%;
    top: 58px;
    max-height: inherit; }
  .filter-content {
    flex-direction: column; }
    .filter-content label.tag {
      padding-top: 20px;
      padding-left: 0; }
    .filter-content ul {
      justify-content: center; }
    .filter-content .article-button {
      height: 45px;
      width: 100%; } }

@media screen and (max-width: 600px) {
  .filter-content {
    justify-content: center; }
    .filter-content ul {
      flex-direction: column;
      align-items: flex-start; }
      .filter-content ul li:not(:first-child) {
        margin-left: 0;
        margin-top: 10px; } }

@media screen and (max-width: 480px) {
  .article-container {
    margin-left: 0;
    margin-right: 0; }
    .article-container section.title {
      flex-direction: column; }
      .article-container section.title section.tag {
        margin-left: 0;
        margin-bottom: 10px;
        align-self: flex-start;
        order: 0; }
  .side-title {
    margin-left: 0; }
  .status-container ul.status-list {
    flex-direction: column;
    align-items: flex-start; }
    .status-container ul.status-list li {
      padding-right: 0;
      margin-right: 0;
      border-right: 0;
      padding: 10px 0; }
  .navigation-container, .status-container {
    align-items: flex-start; }
  .content-container {
    padding-left: 0;
    padding-right: 0; }
  .article-box {
    margin-left: 0;
    margin-right: 0; }
  .filter-container {
    padding-left: 0;
    padding-right: 0; }
  ul.nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    ul.nav-items li {
      padding-right: 0;
      margin-right: 0;
      border-right: 0;
      padding: 10px 0; }
  .search {
    width: 100%; }
  .search-box {
    width: 100%; }
  .article-box {
    width: 100%; }
  .article-container {
    width: 100%; } }

@media screen and (max-width: 370px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }
